<?xml version="1.0"?>
<config>
    <modules>
        <Mash2_Cobby>
            <version>1.42.1.1</version>
        </Mash2_Cobby>
    </modules>
    <global>
        <blocks>
            <mash2_cobby>
                <class>Mash2_Cobby_Block</class>
            </mash2_cobby>
        </blocks>
        <models>
            <mash2_cobby>
                <class>Mash2_Cobby_Model</class>
                <resourceModel>mash2_cobby_resource</resourceModel>
            </mash2_cobby>
            <mash2_cobby_resource>
                <class>Mash2_Cobby_Model_Resource</class>
                <entities>
                    <queue>
                        <table>mash2_cobby_queue</table>
                    </queue>
                    <product>
                        <table>mash2_cobby_product</table>
                    </product>
                </entities>
            </mash2_cobby_resource>
        </models>
        <helpers>
            <mash2_cobby>
                <class>Mash2_Cobby_Helper</class>
            </mash2_cobby>
        </helpers>
        <events>
            <cobby_clean_product_cache>
                <observers>
                    <phoenix_varnishcache>
                        <type>model</type>
                        <class>varnishcache/observer</class>
                        <method>purgeCatalogProduct</method>
                    </phoenix_varnishcache>
                </observers>
            </cobby_clean_product_cache>

            <cobby_clean_category_cache>
                <observers>
                    <phoenix_varnishcache>
                        <type>model</type>
                        <class>varnishcache/observer</class>
                        <method>purgeCatalogCategory</method>
                    </phoenix_varnishcache>
                </observers>
            </cobby_clean_category_cache>

            <admin_system_config_changed_section_cobby>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>saveConfig</method>
                    </Mash2_Cobby>
                </observers>
            </admin_system_config_changed_section_cobby>

            <catalog_category_delete_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>catalogCategoryDeleteAfter</method>
                    </mash2_cobby>
                </observers>
            </catalog_category_delete_after>

            <catalog_category_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </mash2_cobby>
                </observers>
            </catalog_category_save_after>

            <catalog_product_delete_after>
                <observers>
                    <mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </mash2_Cobby>
                </observers>
            </catalog_product_delete_after>

            <catalog_product_save_after>
                <observers>
                    <mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </mash2_Cobby>
                </observers>
            </catalog_product_save_after>

            <catalog_product_attribute_update_before>
                <observers>
                    <mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </mash2_Cobby>
                </observers>
            </catalog_product_attribute_update_before>

            <catalog_entity_attribute_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>catalogEntityAttributeSaveAfter</method>
                    </mash2_cobby>
                </observers>
            </catalog_entity_attribute_save_after>

            <after_reindex_process_cobby_sync>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>updateCobbySyncStatus</method>
                    </Mash2_Cobby>
                </observers>
            </after_reindex_process_cobby_sync>

            <customer_group_save_after>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>triggerCustomerGroupChanged</method>
                    </Mash2_Cobby>
                </observers>
            </customer_group_save_after>

            <admin_roles_save_after>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>triggerRoleChanged</method>
                    </Mash2_Cobby>
                </observers>
            </admin_roles_save_after>

            <admin_user_save_after>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>triggerUserChanged</method>
                    </Mash2_Cobby>
                </observers>
            </admin_user_save_after>

            <fastsimpleimport_reindex_products_after>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>triggerAfterProductImport</method>
                    </Mash2_Cobby>
                </observers>
            </fastsimpleimport_reindex_products_after>

            <eav_entity_attribute_set_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>eavEntityAttributeSetSaveAfter</method>
                    </mash2_cobby>
                </observers>
            </eav_entity_attribute_set_save_after>

            <eav_entity_attribute_set_delete_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>eavEntityAttributeSetDeleteAfter</method>
                    </mash2_cobby>
                </observers>
            </eav_entity_attribute_set_delete_after>

            <cataloginventory_stock_item_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>cataloginventoryStockItemSaveAfter</method>
                    </mash2_cobby>
                </observers>
            </cataloginventory_stock_item_save_after>

            <core_config_data_save_commit_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>coreConfigDataSaveCommitAfter</method>
                    </mash2_cobby>
                </observers>
            </core_config_data_save_commit_after>

            <store_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>storeSaveAfter</method>
                    </mash2_cobby>
                </observers>
            </store_save_after>

            <store_delete_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>storeDeleteAfter</method>
                    </mash2_cobby>
                </observers>
            </store_delete_after>

            <store_group_delete_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>storeGroupDeleteAfter</method>
                    </mash2_cobby>
                </observers>
            </store_group_delete_after>

            <store_group_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>storeGroupSaveAfter</method>
                    </mash2_cobby>
                </observers>
            </store_group_save_after>

            <website_save_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>websiteSaveAfter</method>
                    </mash2_cobby>
                </observers>
            </website_save_after>

            <website_delete_after>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>websiteDeleteAfter</method>
                    </mash2_cobby>
                </observers>
            </website_delete_after>

            <cobby_handle_changes>
                <observers>
                    <mash2_cobby>
                        <class>mash2_cobby/observer</class>
                        <method>cobbyHandleChanges</method>
                    </mash2_cobby>
                </observers>
            </cobby_handle_changes>

        </events>

        <index>
            <indexer>
                <cobby_sync>
                    <model>mash2_cobby/indexer_sync</model>
                </cobby_sync>
            </indexer>
        </index>
        <resources>
            <cobby_setup>
                <setup>
                    <module>Mash2_Cobby</module>
                </setup>
            </cobby_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <Mash2_Cobby>
                        <class>mash2_cobby/observer</class>
                        <method>triggerCatalogProductByStock</method>
                    </Mash2_Cobby>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <routers>
            <mash2_cobby>
                <use>standard</use>
                <args>
                    <module>Mash2_Cobby</module>
                    <frontName>mash2-api</frontName>
                </args>
            </mash2_cobby>
            <api>
                <args>
                    <modules>
                        <Mash2_Cobby before="Mage_Api">Mash2_Cobby</Mash2_Cobby>
                    </modules>
                </args>
            </api>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <mash2_cobby>
                    <file>cobby.xml</file>
                </mash2_cobby>
            </updates>
        </layout>
        <translate>
            <modules>
                <mash2_cobby>
                    <files>
                        <default>Mash2_Cobby.csv</default>
                    </files>
                </mash2_cobby>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <cobby>
            <settings>
                <choose_user>0</choose_user>
                <license_key>cobby license key</license_key>
                <overwrite_images>0</overwrite_images>
                <new_api_user>cobby.api</new_api_user>
                <cobby_version>1.41.1.1</cobby_version>
                <product_category_position>1</product_category_position>
            </settings>
            <stock>
                <manage>0</manage>
                <quantity>0</quantity>
                <availability>1</availability>
            </stock>
        </cobby>
    </default>
</config>
